<div class="form-group">

<%= form_with model: @user do |f|  %>
  <%= f.label :name %><br>
  <%= f.text_field :name, class:"form-control" %> <br /><br>
  <% @user.errors.full_messages_for(:name).each do |message| %>
      <div class=" text-danger"><%= message %></div>
    <% end %>

  <%= f.label :password %><br>
  <%= f.password_field :password, class:"form-control" %> <br />
  <% @user.errors.full_messages_for(:password).each do |message| %>
      <div class=" text-danger"><%= message %></div>
    <% end %>

  <%= f.submit "Create account", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back",root_path %>
</div>