<% if current_user %>
  <%= current_user.name%>
<% end %>

<h1>Events</h1

<ul>
<%= link_to "All users", users_path %><br>
<%= link_to "New user", new_user_path%><br>
<%= link_to "Log out", logout_path, method: "delete"%><br>
<%= link_to "Log in", login_path, method: "delete"%><br>
<%= link_to "Create Event", new_event_path%>
</ul>

<ul>
<% @events.each do |event| %>
  <li><%= link_to event.name, event%></li>
<% end %>
</ul>